.forside_hero_img {
  border-radius: 30px;
}
.mid_left {
  position: absolute;
  top: 125px;
  left: 35px;
  background-color: #ff4893;
  padding: 0.5rem;
  margin: 5vw 1vw;
}
.h1 {
  text-align: center;
}
.toej_link_forside {
  border-radius: 30px;
  padding: 1rem;
  margin: 1rem;
  justify-self: center;
}
.tasker_link_forside {
  border-radius: 30px;
  padding: 1rem;
  margin: 1rem;
  justify-self: center;
}
.assecc_link_forside {
  border-radius: 30px;
  padding: 1rem;
  margin: 1rem;
  justify-self: center;
}
.aabningstider_menu {
  text-align: center;
  font-family: "Oswald", sans-serif;
}
.aabningstider_bar {
  background-color: #ff4893;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  justify-self: center;
  width: 380px;
  color: white;
  font-family: "Lobster", sans-serif;
  padding: 0.5rem;
}
.aabningstider_tider {
  background-color: #ffabcd;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  justify-self: center;
  width: 380px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  list-style: none;
}
.review_h2_forside {
  text-align: center;
  color: white;
  padding-top: 1rem;
}
.review_section {
  background-color: #faf0e8;
  border-radius: 30px;
  padding: 1rem;
  margin: 1rem;
  justify-self: center;
}
.review1_stars {
  text-align: center;
}
.review1_christian_h {
  text-align: center;
}
.review1_navn_platform {
  text-align: center;
}
