/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/****GRID LAYOUT****/
#main-section {
  margin: unset;
  font-size: 18px;
  display: grid;
  grid-template-columns: 1fr 5% minmax(0, 110ch) 5% 1fr;
  /*minmax til midten på 110ch, fr'erne forsvinder mens man gør vinduet mindre*/

  align-items: start;
  > * {
    grid-column: 3;
  } /*stjerne for "alle", alle børn af body starter på grid column 3*/
}

/**VARIABLER**/
:root {
  /*baggrundsfarver*/
  --header-bg-color: #d76748;
  --main-section-bg-color: #f6e0a3;
  --footer-bg-color: #4d4d4d;

  /*fonte*/
  --h1-font: "Lobster", sans-serif;
  --h2-font: "Lobster", sans-serif;
  --h3-font: "Oswald", sans-serif;
  --p-font: "Oswald", sans-serif;

  /*tekst-størrelser*/
  --h1-size: 3rem;
  --h2-size: 1.5rem;
  --h3-size: 1.5rem;
  --p-size: 1.2rem;

  --h1-weight: 400;
  --h2-weight: 200;
  --h3-weight: 400;
  --p-weight: 350;

  /*tekst-farver*/
  --h1-color: #fff;
  --h2-color: #ffff;
  --h3-color: #ffff;
  --p-color: black;

  /*baggrundsfarver til p-text*/
  --text-bg-color: #faf0e8;
}

/*light-dark mode*/
html {
  color-scheme: light dark;
}

html.dark {
  color-scheme: dark;
}

/*body er bag de andre sections og er ensfarvet i gradientens start-farve*/
body {
  background-color: #f6e0a3;
}

/*HEADER - ENS PÅ ALLE SIDER*/
header {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--header-bg-color);
  /*padding-block: 2rem;*/
  /*padding-left: 1rem;*/
  /*justify-items: center;*/
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #ffff;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: light-dark(#7fffd4, #00f3ef);
  text-decoration: none;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffff;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }

  .menu a {
    color: #faf0e8;
  }
  .menu a:hover {
    color: light-dark(#7fffd4, #00f3ef);
    text-decoration: none;
  }
  .burger {
    display: block;
    background-color: transparent;
    border: 0;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: light-dark(#518a88, #67287c);
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}

/*VORES FÆLLES SECTIONS DER SKAL VÆRE PÅ ALLE SIDER I <MAIN>*/
#hero-section {
  border-radius: 30px;
  padding: 1rem;
  padding-top: 0;
  padding-bottom: 0;
  margin: 1rem;
  justify-self: center;
}

#main-section {
  background-image: linear-gradient(to top, #518a88, #f6e0a3) /*light-dark(linear-gradient(to top, #518a88, #f6e0a3), linear-gradient(to top, #01075e, #bd4396))*/;
  /*light-dark virker ikke på ovenstående :(*/
  padding: 1rem;
  padding-top: 0;
}

#ikon-section {
  background-color: #518a88;
  padding: 1rem;
}

/*IKON STØRRELSER*/
.crush-logo {
  width: 230px;
  justify-self: center;
}

.ikon {
  width: 45px;
  display: inline;
}

.scroll-to-top-ikon {
  width: 70px;
  justify-self: end;
}

/*hero-videoer*/
video {
  width: 450px;
  display: block;
  margin: auto;
  text-align: center;
  border-radius: 30px;
}

/*FOOTER - ENS PÅ ALLE SIDER*/
.footer-ikon1 {
  width: 38px;
  display: inline;
  padding-bottom: 0.8rem;
}
.footer-ikon2 {
  width: 150px;
  display: inline;
  padding-bottom: 0.8rem;
}
.footer-ikon3 {
  padding-top: 1rem;
  width: 400px;
  display: block;
}
.footer-ikon4 {
  padding-top: 1rem;
  width: 400px;
  display: none;
}
.footer-text {
  padding-top: 0.5rem;
  color: grey;
  text-align: center;
  padding-bottom: 1rem;
}
.footer-text-desktop {
  display: none;
}
.footer-link {
  color: grey;
  text-decoration: none;
}
.footer-link:hover {
  color: #7fffd4;
}

footer {
  background-color: var(--footer-bg-color);
  padding-top: 1rem;
  justify-items: center;
}

/*FONTE OG FONT-STØRRELSER*/
h1 {
  font-family: var(--h1-font);
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  color: var(--h1-color);
  text-shadow: 8px 6px 3px rgba(0, 0, 0, 0.44);
}

h2 {
  font-family: var(--h2-font);
  font-size: var(--h2-size);
  color: var(--h2-color);
}

p {
  font-family: var(--p-font);
  font-size: var(--p-size);
  font-weight: var(--p-weight);
  color: var(--p-color);
}

li {
  font-family: var(--p-font);
  font-size: var(--p-size);
  font-weight: var(--p-weight);
}

.text-background {
  background-color: var(--text-bg-color);
  padding: 2rem;
  margin-top: 1rem;
  color: var(--p-color);
  border-radius: 30px;
  text-align: center;
}

/**SITE-PROGRESS ANIMATION PÅ ALLE SIDER*/
@keyframes site-progress {
  from {
    scale: 0 1; /*animation som får stregen i toppen af siden til at være animere*/
  }
}

html::before {
  content: "";
  position: fixed;
  inset: 0; /*sætter noget ind i en kasse*/
  block-size: 4px;
  background-image: linear-gradient(to right, red, yellow, green, blue, purple, pink);

  animation: site-progress /*3s*/ linear; /*vi vil ikke have animationen til at styres af tid længere, men i stedet af css-funktionen "scroll"*/
  transform-origin: 0; /*gør at stregen kører ind fra siden*/
  animation-timeline: scroll(); /*css-funktion scroll som får animationen til at kører mens man scroller*/
}

/*TOGGLE LANGUAGE KNAP*/
/*toggle-button tekst*/
.da-en {
  color: #ffff;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7fffd4;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #f9cf4a;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #7fffd4;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*ALT HVAD DER ÆNDRER SIG I DESKTOP FORMAT ER HERINDE*/
@media screen and (min-width: 800px) {
  h1 {
    font-size: 5rem;
    text-shadow: 8px 6px 3px rgba(0, 0, 0, 0.44);
  }
  header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }

  #ikon-section {
    background-color: #518a88;
    padding: 2.3rem;
  }

  .da-en {
    display: inline;
  }
  .crush-logo {
    width: 250px;
    justify-self: center;
  }
  footer {
    padding-top: 2rem;
    padding-bottom: 4rem;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }
  .footer-text {
    text-align: left;
    display: none;
  }
  .footer-text-desktop {
    padding-top: 0.5rem;
    color: grey;
    text-align: center;
    padding-bottom: 1rem;
    display: block;
  }
  .footer-ikon3 {
    display: none;
  }
  .footer-ikon4 {
    padding-top: 1rem;
    width: 200px;
    display: block;
  }
  /*hero-videoer desktop*/
  video {
    /*width: 1700px;*/
    /*height: 800;*/
    display: block;
    margin: auto;
    text-align: center;
    border-radius: 30px;
  }
}
