/*************** Text alignment ***************/
h1 {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 1rem;
}

.textsection {
  display: flex;
  flex-direction: column;
}

.textP1 {
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 2rem;
  color: black;
}

.textP2 {
  padding-bottom: 2rem;
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1.2rem;
  color: black;
}

.subscribe {
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1.5rem;
  color: black;
}

.subText {
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
  color: black;
  padding-bottom: 2rem;
}

/*************** Backgrounds ***************/

.main {
  background-color: #faf0e8;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 30px;
}

.textsection2 {
  background-color: #faf0e8;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 30px;
  margin: 3rem auto;
}

#form-section {
  background-color: #faf0e8;
  max-width: 400px;
  border-radius: 30px;
  margin: 1rem auto;
}

/*************** Forms ***************/

.oplysninger {
  padding-left: 1.3rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  color: black;
}

input {
  border-radius: 10rem;
  height: 2.4rem;
  width: 12rem;
  color: black;
  font-size: 1rem;
}

.names {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 1.5rem;
  border-radius: 10rem;
  padding-left: 1rem;
  color: black;
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.telephone {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 1.5rem;
  border-radius: 10rem;
  padding-left: 1rem;
  color: black;
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
}

.mail {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 1.5rem;
  border-radius: 10rem;
  padding-left: 1rem;
  color: black;
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  padding-bottom: 6.5rem;
}

/*
.checkbox-linje {
  display: flex;
  margin: 1rem 3rem 1rem 0;
  margin-right: 3rem;
  margin-left: 0rem;
}

.checkbox-linje label {
  color: black;
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  margin-top: 1rem;
}

#accepter {
  margin-left: 2rem;
  margin-bottom: 3.5rem;
  background-color: white;
  margin-top: 1.5rem;
} */

input {
  background-color: white;
}

label {
  margin-left: 1.2rem;
}

/*************** Button ***************/

.button {
  display: block;
  margin: 0.5rem auto;
  padding: 0.8rem;
  font-size: 1.2rem;
  border-radius: 40px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.4rem;
  font-weight: 500;
  width: 400px;
  background-color: light-dark(#ff4893, #00f3ef);
  color: black;
  border-color: light-dark (white, black);
}

/*************** Desktop ***************/

@media (min-width: 800px) {
  .main {
    max-width: 750px;
    padding: 0.7rem;
  }

  .textsection2 {
    max-width: 750px;
    padding: 0.7rem;
  }

  #form-section {
    max-width: 750px;
  }

  .oplysninger {
    padding-left: 4rem;
    padding-top: 4rem;
    padding-bottom: 1.5rem;
  }

  .names {
    flex-direction: row;
    gap: 20px;
    padding-left: 5rem;
  }

  .telephone {
    padding-left: 5rem;
    padding-top: 0.5rem;
  }

  .mail {
    padding-left: 5rem;
    padding-top: 0.5rem;
  }

  .names input {
    width: 15.8rem;
  }

  .telephone input {
    width: 33rem;
  }

  .mail input {
    width: 33rem;
  }

  input {
    height: 3rem;
  }

  .button {
    width: 750px;
    height: 5.5rem;
    font-size: 1.7rem;
  }

  .checkbox-linje {
    padding-left: 3.5rem;
    padding-bottom: 2rem;
  }

  .checkbox-linje label {
    padding-top: 0.3rem;
    padding-right: 14rem;
  }
}

/*************** Effetcs ***************/

input:hover {
  background-color: light-dark(rgb(255, 192, 225), rgb(187, 255, 253));
}

input:user-invalid {
  border-color: red;
  background-color: rgb(255, 231, 231);
}

input:user-invalid + span::before {
  content: "Indtast gyldige oplysninger";
  color: darkred;
  font-size: 0.7rem;
  padding-left: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button:hover {
  background-color: rgb(106, 153, 255);
}
